.header {
  padding: 48px;
  background-color: #2b3137;
}

.title {
  max-width: 1100px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 60px;
}

.description {
  max-width: 1100px;
  margin: 16px auto 0;
  color: #ffffff;
  font-size: 20px;
}

.buttonContainer {
  max-width: 1100px;
  margin: 40px auto 0;
}
